# ========================
# PlatformIO
# ========================
.pio/

# ========================
# VS Code
# ========================
.vscode/

# ========================
# OS junk
# ========================
.DS_Store
Thumbs.db

# ========================
# Logs & temp
# ========================
*.log
*.tmp
*.bak

# ========================
# Python cache
# ========================
__pycache__/
*.pyc
